@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.login-screen {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-div {
  width: 40vh;
  display: grid;
  gap: 16px;
}

.signin-text-p {
  font-size: 24px;
  font-weight: 500;
}

.email-and-pass-div {
  display: grid;
  gap: 24px;
}

.input {
  width: 100%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  font-size: 16px;
  font-weight: 500;
}

.login-btn-div {
  display: flex;
  justify-content: center;
}

.email-label {
  font-size: 16px;
  font-weight: 400;
}

.password-label {
  font-size: 16px;
  font-weight: 400;
}
