@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "./token.css";

*,
*::before,
*::after {
  font-family: "Space Mono", monospace;

  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--bg);

  color: var(--text);
}

button {
  font: inherit;
}
