@import "./token.css";

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
}

body {
  margin: 0;

  background: var(--bg);

  color: var(--text);
}

button {
  font: inherit;
}
